<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/menu/category/menulist" method="get">
  <input type="number" name="categoryCode">
  <input type="submit" value="조회">
</form>

<table border="1">
  <tr>
    <th>메뉴번호</th>
    <th>메뉴이름</th>
    <th>메뉴가격</th>
    <th>카테고리코드</th>
    <th>판매상태</th>
  </tr>

  <tr th:each="result : ${menuList}">
    <td th:text="${result.menuCode}"   th:onclick="'location.href=\'/menu/' + ${result.menuCode} + '\';'"></td>
    <td th:text="${result.menuName}"></td>
    <td th:text="${result.menuPrice}"></td>
    <td th:text="${result.categoryCode}"></td>
    <td th:text="${result.orderableStatus}"></td>
  </tr>
</table>

</body>
</html>